body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f3f4f6;
}

.footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
}

.container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.form-card {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333333;
}

h2 {
  font-size: 18px;
  color: #555;
}

input, select, button {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
}

.button-group {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  background-color: #4caf50;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #45a049;
}

p {
  font-size: 14px;
  color: #555555;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.hidden {
  display: none;
}

#report-list {
  list-style-type: none;
  padding-left: 0;
  font-size: 16px;
  color: #333;
}

.report-item {
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 4px;
  background-color: #fafafa;
}

.report-item strong {
  color: #333;
}

/* Loading Circle */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 20px 0;
}

.loading-circle {
  width: 50px;
  height: 50px;
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
